@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Sansita:300,regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Podkova:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Asul:regular,700&display=swap");
main{
	background-color: #dd3434;
}
	[class*="__container"]
   {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
[class*="sections"]{
	padding-top: 30px;
	padding-bottom: 30px;
}
[class*="sections"]:not(:last-child){
margin-bottom: 20px;
}
.sections1 {
	font-family: "Sansita", cursive;
	background: rgb(195,152,34);
background: linear-gradient(165deg, rgba(195,152,34,0.7289040616246498) 38%, rgba(19,194,112,1) 55%);
 }
.sections2{
	font-family: "Podkova", sans-serif;
	background: rgb(22,26,238);
	background: linear-gradient(180deg, rgba(22,26,238,0.782125350140056) 38%, rgba(190,194,19,0.936186974789916) 49%);
	}
.sections3{
	font-family: "Asul", cursive;
	background:url("../img/1.webp") center /cover no-repeat; 
}
.title{
	font-size: 20px;
	line-height: 1.7; 
	font-weight: 700;
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 2px 1px  rgb(73,217,210),2px 2px 3px rgb(255, 0, 144);
	margin-bottom: 25px;
	text-transform: uppercase;
	}
	.sub-text{
	font-size: 18px;
	line-height: 1.2; 
	font-weight: 400;
	margin-bottom: 20px;
	color:  rgb(73,217,210);
	text-indent: 5px;
		}
   .el__design,
	.icon,
	.content__img{
			display: inline-block;
			text-align: center;
		}
	img{
		   font-size: 0;
         max-width: 100%;
			outline: 3px solid rgb(0, 255, 247);
			border-radius: 15px;
			}
	img:not(:last-child){
		margin-bottom: 30px; 
		margin-right: 35px;
	}
