@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Flow+Circular:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sassy+Frass:regular&display=swap");
@font-face {
  font-family: "Celestina";
  src: url("../fonts/Celestina.woff2") format("woff2"),
      url("../fonts/Celestina.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.woff2") format("woff2"),
      url("../fonts/Lobster.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: aqua;
}
@font-face {
  font-family: "beer money";
  src: url("../fonts/beermoney.woff2") format("woff2"),
      url("../fonts/beermoney.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  background-color: rgb(199, 201, 186);
}

body{  
  font-family: "Caveat";
  }
.head{ 
  font-family: "Sassy+  Frass";
  font-size: 30px  ;
  font-weight: 2;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgb(94, 73, 47);
  color: brown;
  }
span{
  font-family: "beer money";
  color: cadetblue;
  text-decoration: underline;
  line-height: 20px;

}
.text1{
 color: rgb(100, 28, 77);
 font-family:"Flow+Circular";
}
.text2{
  font-family: "Celestina";
  line-height: 30px;

}
.text3{
  font-family: "Lobster";
  line-height: 20px;

}
.img{
  width: 600px;
  height: 400px;
    }
 
h6.end{
  text-align: center;
  text-decoration: underline;
  color: azure;
}
a.link{
  color: blue;
}


