@use "sass:math";
@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap");

body {
	font-family: "Oswald", sans-serif;
   color: #000000;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	 max-width: 1908px;
    padding: 0px 15px;
    margin: 0 auto;
}

.page {
	padding: 50px 0px;

	// .page__brand

	&__brand {
	 padding-top: 40px;
    margin-bottom: 30px;
	}
}
.brand-page {

	// .brand-page__container

	&__container {
	}

	// .brand-page__content

	&__content {
		position: relative;
		border: 2px solid #C4C4C4;
	}

	// .brand-page__title

	&__title {
	 max-width: 450px;
    width: 100%;
    max-height: 45px;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 24px;
    line-height: 1.7;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 10px;

	 @media (max-width: 900px) {
			  max-width: 400px;
		}
	 @media (max-width: 650px) {
		  max-width: 350px;
		}
	 @media (max-width: 500px) {
		  font-size: 20px;
		  max-width: 300px;
		 }
	 @media (max-width: 375px) {
		  font-size: 20px;
		  max-width: 250px;
		 }
	}

	// .brand-page__logo

	&__logo {
	 display: flex;
	 flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-around;
    align-items: center;
    min-height: 198px;
    padding: 28px 10px;
	 
	 @media (max-width: 690px) {
		 flex-direction: column;
		
	 }
	}

.logo-brand {

	// .logo-brand__item

	&__item {
		display: flex;
		justify-content: center;
		max-width: 235px;
		width: 100%;
		min-height: 141px;
		align-items: center;

		@media (max-width: 1550px) {
			  max-width: 200px;
			  width: 100%;
			  min-height: 120px;
		 }
		 @media (max-width: 1024px) {
			  min-height: 100px;
			}
		 @media (max-width: 991.98px) {
			  min-height: 80px;
			  border: 1px solid #000;
		 }
		 @media (max-width: 767.98px) {
			  max-width: 170px;
			  min-height: 50px;
		 }
		 @media (max-width: 425px) {
			  max-width: 150px;
			  min-height: 40px;
	 }
	 @media (any-hover: hover) 
		 { &:hover {
		  background-color: #f0f2f2;
		  	}
	}
	   &.active {
		background-color: #f0f2f2;
		}
	 & img{
		width: 150px;
		height: 35px;
		@media (max-width: 767.98px) {
			 width: 100px;
			 height: 30px;
			}
		@media (max-width: 425px) {
			 width: 80px;
			 height: 30px;
		}
		 }
	 }
	}
}
// +++++++++++++++++++++++++++++++++++++++++++++++
.page {

	// .page__choose

	&__choose {
		margin-bottom: 30px;
	}
}
.choose-page {

	// .choose-page__container

	&__container {
	}

	// .choose-page__contents

	&__contents {
		display: grid;
		grid-template:repeat(2,1fr)/ repeat(2,1fr);
		gap: 30px;
		@media (max-width: 900px) {
		grid-template: repeat(3,1fr)/1fr ;
		row-gap: 20px;
	 }
		
	}

	// .choose-page__content

	&__content {
		&:nth-child(2){
		grid-row: span 2;}
		position: relative;
	}
	
	// .choose-page__image
	
	&__image {
		position: relative;
		height: 434px;
		@media (max-width: 650px) {
			height: 350px;
	 }
		 @media (max-width: 500px) {
			height: 300px;
	  }
		  @media (max-width: 375px) {
			height: 250px;
	  }
	
		& img{
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}
		&__image--big{
			height: 898px;
			@media (max-width: 650px) {
				height: 700px;
		 }
			 @media (max-width: 500px) {
				height: 600px;
		  }
			  @media (max-width: 375px) {
				height: 500px;
		  }
			}
	

	// .choose-page__texts

	&__texts {
		text-align:start;
		position: absolute;
		bottom: 100px;
		
	}
	&__texts--big {
		left:60px; 
		max-width: 430px;
		@media (max-width: 1300px) {
		max-width: 300px;
		}
      @media (max-width: 650px) {
		max-width: 250px;
		
	 }
 		@media (max-width: 500px) {
		max-width: 200px;
		left:50px; 
	  }
  	   @media (max-width: 375px) {
		max-width: 150px;
		left:30px; 
	  }
	}
	&__texts--right {
		right: 60px;
		max-width: 300px;
		@media (max-width: 1300px) {
			right: 40px;
			}
		@media (max-width: 1000px) {
				right: 30px;
				}
		@media (max-width: 900px) {
			right: 60px;
			}
			@media (max-width: 650px) {
				bottom: 50px;
				}
		@media (max-width: 400px) {
		right: 40px;
		bottom: 40px;
		}
		@media (max-width: 380px) {
			right: 30px;
			bottom: 20px;
			}
		}
	&__texts--left {
		left: 106px;
		max-width: 370px;
		@media (max-width: 1600px) {
			left: 80px;
			}
		@media (max-width: 1500px) {
			left: 50px;
				}
		@media (max-width: 1350px) {
			max-width: 350px;
			}
			@media (max-width: 1000px) {
				max-width: 300px;
					}
			@media (max-width: 650px) {
				bottom: 50px;
				}
				@media (max-width: 570px) {
					max-width: 250px;
					}
		@media (max-width: 400px) {
			max-width: 200px;
		right: 40px;
		bottom: 40px;
		}
		@media (max-width: 380px) {
			max-width: 150px;
			right: 30px;
			bottom: 20px;
			}
		
	}

	// .choose-page__title

	&__title {
		font-size: 48px;
      line-height: 1.29;
      font-weight: 600;
      text-transform: uppercase;
		&:not(:last-child){
		margin-bottom: 10px;
	}
		@media (max-width: 1000px) {
		font-size: 45px;
		}
		@media (max-width: 900px) {
		font-size: 48px;
			}
		@media (max-width: 650px) {
		font-size: 35px;
		}
		 @media (max-width: 500px) {
		font-size: 30px;
		}
		 @media (max-width: 380px) {
		font-size: 25px;
		}
	}
	
	&__title--big {
		font-size: 96px;
		line-height: 114.58%;
		@media (max-width: 1300px) {
		font-size: 80px;
		}
		@media (max-width: 1100px) {
			font-size: 70px;
			}
      @media (max-width: 650px) {
			font-size: 60px;
	 }
 		@media (max-width: 500px) {
			font-size: 50px;
	  }
  	   @media (max-width: 375px) {
			font-size: 40px;
	  }
		}

	// .choose-page__text

	&__text {
	 font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 1.68;
    font-weight: 300;
	 &:not(:last-child){
	 margin-bottom: 45px;
	}
	@media (max-width: 990px) {
		font-size: 20px;
 }
	@media (max-width: 650px) {
		font-size: 16px;
		&:not(:last-child){
			margin-bottom: 30px;
		  }
 }
	 @media (max-width: 500px) {
		font-size: 14px;
  }
	  @media (max-width: 375px) {
		font-size: 12px;
		&:not(:last-child){
			margin-bottom: 25px;
		  }
  }
  	}

	// .choose-page__button

	&__button {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.48;
		text-align: center;
		vertical-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000000 ;
		border: 2px solid #000000 ;
		padding: 10px 25px;

		@media (max-width: 650px) {
		font-size: 16px;
	 }
		 @media (max-width: 500px) {
			font-size: 14px;
	  }
		  @media (max-width: 375px) {
			font-size: 12px;
			text-shadow:none;
	  }

	}
}
aside{
	float: left;
}

// ___________________________
.page {

	// .page__shop

	&__shop {
		margin-bottom: 100px;
	}
}
.shop-page {

	// .shop-page__container

	&__container {
	
	}

	// .shop-page__content

	&__content {
		display: grid;
		grid-template-columns: 22.1% 1fr;
	 column-gap: 30px;

	}

	// .shop-page__cards

	&__cards {
		display: grid;
		grid-template-columns:repeat(4,1fr);
		column-gap: 25px;
		row-gap: 45px;
		@media (max-width: 1400px) {
		grid-template-columns:repeat(3,1fr);
		column-gap: 20px;
		row-gap: 35px;
			}
		@media (max-width: 900px) {
		grid-template-columns:repeat(2,1fr);
		column-gap: 15px;
		row-gap: 15px;
			}
			@media (max-width: 480px) {
				grid-template-columns:repeat(1,1fr);
				row-gap: 10px;
					}
				}

	// .shop-page__card

	&__card {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
	}
}
.item {

	// .item__image

	&__image {
		position: relative;
		padding-bottom: 130%;
		overflow: hidden;
		
		&:not(:last-child){
			margin-bottom: 15px;
		}
		@media (max-width: 480px) {
			&:not(:last-child){
			margin-bottom: 5px;}
			}
		
		&:hover img{
		transform: scale(1.35);
		}
		
		
		& img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
			transition: all 0.4s;
		}
	}
		
	// .item__sub-title

	&__sub-title {
		&:not(:last-child){
		margin-bottom: 8px;}
		font-size: rem(12);
		font-weight: 600;
		line-height: 1.48 ;
		color: #BDBDBD;
		@media (max-width: 480px) {
		&:not(:last-child){
		margin-bottom: 5px;}
						}
	}

	// .item__title

	&__title {
		font-size:rem(18) ;
		font-weight:300;
		line-height: 1.48;
		flex-grow: 1;
		&:not(:last-child){
		margin-bottom: 18px;}
		@media (max-width: 1400px) {
			font-size:rem(16) ;
			&:not(:last-child){
			margin-bottom: 15px;}
			}
		@media (max-width: 900px) {
			font-size:rem(14) ;
			&:not(:last-child){
			margin-bottom: 12px;}
			}
		@media (max-width: 480px) {
			&:not(:last-child){
			margin-bottom: 8px;}
			}
	}

	// .item__price

	&__price {
		display: flex;
		flex-wrap: wrap;
		column-gap: 15px;
		row-gap: 10px;
		align-items: flex-end;
	}
}
.price {
	font-size: rem(22);
	line-height: 1.48;
	font-weight: 500;
	text-transform: uppercase;
	@media (max-width: 900px) {
		font-size:rem(16) ;
		}
	@media (max-width: 480px) {
		font-size:rem(14) ;
		}
	

	// .price__old

	&__old {
		text-decoration:line-through;
		color:#828282;
		font-size: rem(14);
      line-height: 1.5;
		margin-bottom: 3px;
		@media (max-width: 900px) {
			font-size:rem(12) ;
			}
		@media (max-width: 480px) {
			font-size:rem(10) ;
			}
		}

	// .price__new

	&__new {
		color:#EB5757;
			}
}
.shop-page {

	// .shop-page__category

	&__category {
		border-right: 1px solid #828282;
	}
}
.category-column {

	// .category-column__title

	&__title {
		font-size: rem(24);
		font-weight: 400;
		line-height:2.83;
		text-transform: capitalize;
		@media (max-width: 750px) {
			font-size:rem(20) ;
		}
		@media (max-width: 650px) {
			font-size:rem(16) ;
		}
		@media (max-width: 500px) {
			font-size:rem(14) ;
		}
		@media (max-width: 450px) {
			font-size:rem(12) ;
		}
	}

	// .category-column__form

	&__form {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		row-gap: 20px;
		@media (max-width: 580px) {
			row-gap: 25px;
		}
		@media (max-width: 450px) {
			row-gap: 20px;
			order: 3;
		}

	}
}
.form-checkbox {

	// .form-checkbox__row

	&__row {
		position: relative;
	}

	// .form-checkbox__input

	&__input {
	 position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
	 &:focus-visible+.form-checkbox__label {
		outline: 1px solid #000;
		border-radius: 4px;}
	 &:checked+.form-checkbox__label::before {
			background: url(../img/shop/icon/On.svg) center/10px 10px no-repeat;
			}
	}

	// .form-checkbox__label

	&__label {
	 font-size: 14px;
    text-transform: uppercase;
    color: #3f3f3f;
	 position: absolute;
	 top: 0;
	 left: 0;
	 display: flex;
	 column-gap: 10px;
	 align-items: center;
	 cursor: pointer;
	 &:hover{
		color: #000000;
	 }
	 &::before {
		content:" ";
		display: inline-block;
		flex: 0 0 10px;
		width: 10px;
		height: 10px;
		background: #ffffff;
		border: 1px solid #828282;
		align-self: start;
		}
		@media (max-width: 900px) {
			font-size: 12px;
		}
		@media (max-width: 450px) {
			font-size: 10px;
		}

	}
}
.active {
	color: #000000;
}
// +++++++++++++++++limits+++++++++++++++++++++++++++++++++
.page {

	// .page__limits

	&__limits {
	}
}
.limits-page {

	// .limits-page__container

	&__container {
	}

	// .limits-page__content

	&__content {
		position: relative;
		display: flex;
		padding-left: 14.32%;
      padding-top: 77px;	
		@media (max-width:1500px){
			padding-top: 50px;
			}
			@media (max-width:1000px){
				padding-left: 10.32%;
				}
			@media (max-width:600px){
					padding-left: 14.32%;
					padding-top: 77px;	
				}
	}

	// .limits-page__images

	&__images {
		padding-bottom: 24.97%;
		@media (max-width:1500px){
			min-height: 400px;
			}
			@media (max-width:700px){
				min-height: 300px;
				}
		
		
	}

	// .limits-page__image

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
		}


	// .limits-page__texts

	&__texts {
		z-index: 2;
		}
}
.text {

	// .text__title

	&__title {
		font-size: rem(56);
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 0.3em;
		padding-top: 0.36em;
		padding-right: 1.07em;
		border-top: 2px solid #000000;
		border-right: 2px solid #000000;
		@media (max-width:1000px){
			font-size: rem(50);
			}
			@media (max-width:900px){
				font-size: rem(46);
				padding-right: 0.71em;
				}
				@media (max-width:700px){
					font-size: rem(40);
					padding-right: 0.51em;
					}
					@media (max-width:570px){
						font-size: rem(30);
						padding-right: 0.51em;
						}
				

	}

	// .text__item

	&__item {
	 font-family: "Roboto", sans-serif;
    max-width: 639px;
    font-size:rem(25);
    line-height: 1.48;
    font-weight: 300;
   letter-spacing: 0.01em;
	 margin-bottom: 0.92em;
	@media (max-width:1500px){
	max-width: 539px;
	}
	@media (max-width:700px){
		font-size:rem(20);
		max-width: 439px;
		}
		@media (max-width:570px){
			font-size:rem(16);
			max-width: 339px;
			}
		
	 }	

	// .text__button

	&__button {
		font-size: rem(18);
		font-weight: 400;
		padding: 0.83em 2.22em;
		border: 2px solid #000000;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000000;
		@media (any-hover: hover) 
		{ &:hover {
		 background-color: #000000;
		 color: #ffffff;
		 }
	}
	@media (max-width:700px){
		font-size: rem(16);
		padding: 0.53em 1.8em;
		}
		@media (max-width:570px){
			font-size: rem(14);
			padding: 0.43em 1.5em;
			text-shadow: none;
			border: 1px solid #000000;
			}
}

}