@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900,&display=swap");
body {
  font-family: "Poppins", sans-serif;
	color: #6c757d;
	font-size: 14px;
	font-weight: 300;
}
	[class*="__container"]
   {
	max-width: 1270px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.article {
	padding-top: 80px;
	padding-bottom: 80px;
}
.article__text-block {
	max-width: 816px;
	margin: 0 auto 80px;
}
.article__text-block p {
	line-height: 1.78; 
	margin-bottom: 30px;
}
p.last{
  margin-bottom: 100px;
}
.article__title {
	color: #212529;
	font-size: 25px;
	line-height: 1.6; 
  margin-bottom: 40px;
	font-weight: 700;
	max-width: 605px;
}
h3.article__title{
  margin-bottom: 100px;
}
.article__img3,
.article__img {
	max-width: 100%;
	margin-bottom: 80px;
  border-radius: 5px;
}
.article__img3{
 	margin-bottom: 100px;
 }
.article__imges{
  font-size: 0;
  margin: 0 auto;
  max-width: 1240px;

  }
.article__img1,
.article__img5{
  margin-right: 30px;
}

/*for practice */
.for__practice{
  font-size: 20px;
	line-height: 1.9; 
  margin: 0 auto ;
  max-width: 1240px;
 }
.block{
margin-bottom: 30px;
background-color: aqua;
border: 5px solid darkseagreen;
box-shadow: 5px 5px 15px 10px rebeccapurple,5px 5px 25px 10px yellow  ;
}
.inline{
  background-color: blanchedalmond;
  border-bottom: 5px dotted rgb(203, 75, 25);

}
.inline-block{
  margin: 30px;
  border: 5px dashed brown;
  border-radius: 30px 5px 15px 50px;
  opacity: 0.5;
}
.inline-block2{
  border-radius: 50%;
  outline: 10px solid red;
  margin-bottom: 80px;
}
