@import url("reset.css");

	body {
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.7;
		color: #495057;
		  }
    [class*="__container"] {
		margin: 0 auto;
		max-width: 1270px;
		padding-left: 15px;
		padding-right: 15px;
  }
    .wrapper {
	  overflow: clip;
	  min-height: 100%;
     display: flex;
	  flex-direction: column;
  }
.header__menu{
	display: flex;
   justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	 padding-top: 60px;
	 padding-bottom: 10px;
	 margin-bottom: 45px;
	 font-weight: 500;
	 font-size: 12px;
	 line-height: 2.1;
	}
	.active{
		color: hsl(210, 9%, 31%,0.5);
	}
	
.menu__items{
	flex-direction: row;
	display: flex;
   gap: 20px;
}
.box-content{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin: 0px -15px 60px;
   row-gap: 45px; 
	}
.box-content__position{
	flex: 0 0 33%;
	padding: 0px 15px;
	}
.box-content__image{
	position: relative;
}
.box-content__button{
	position: absolute;
	top: 10px;
	right: 20px;
	max-height: max-content;
	padding: 3px 12px;
    font-weight: 700;
    font-size: 8px;
    line-height: 2.5;
    color: #F8F9FA;
    border-radius: 3px;
    background-color: rgba(33, 37, 41, 0.3);
    text-transform: uppercase;
    transition: background-color 0.3s ;
}
.box-content__button:hover {
	background-color: rgba(33, 37, 41, 0.509);
}

.box-content__image img{
	max-width: 100%;
	margin-bottom: 15px;
	}

.box-content__text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
	}
	.information__avtor:hover{
		text-decoration: underline;
	}
.button{
	display: flex;
	justify-content:center;
	padding-bottom: 60px;
}
h1,h2,h3,h4,h5,h6 {
	color: #212529;
	font-weight: 700;
	 font-size: 25px;
	 line-height: 1.6;
}
.button{
	display: flex;
	justify-content:center;
	padding-bottom: 60px;
}
.button__text{
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	background-color: #212529;
	border-radius: 3px;
	color: #F8F9FA;
	padding: 8px 50px;
	text-align: center;
	transition: background-color 0.3s;
}
.button__text:hover {
	background-color: #F8F9FA;
	color: #212529;
	border: 2px solid #212529;
}